<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Lephone.Settings" type="Lephone.Util.Setting.NameValueSectionHandler, Lephone.Util" />
  </configSections>

  <!-- DbEntry配置节 -->
  <Lephone.Settings>
    <add key="CacheEnabled" value="true"/>
    <add key="DefaultContext" value="SqlServer"/>

    <add key="Access.AutoCreateTable" value="true" />
    <add key="Access.DataBase" value="@Access : @~/App_Data/UniframeworkDB.mdb" />

    <add key="Development.AutoCreateTable" value="true" />
    <add key="Development.DataBase" value="@SQLite : @~/App_Data/UniframeworkDB.db" />
    <add key="Development.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.60.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />

    <add key="SqlServer.AutoCreateTable" value="true"/>
    <!--<add key="SqlServer.DataBase" value="@SqlServer2005 : data source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\UniframeworkDB.MDF;Integrated Security=True;User Instance=True"/>-->
    <add key="SqlServer.DataBase" value="@SqlServer2005 : data source=.\SQLEXPRESS;initial catalog=TestDB;integrated security=true"/>

  </Lephone.Settings>
</configuration>