<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <UpgradeUrl>http://www.localhost/Uf/Upgrade/1.2.0.0/Upgrade.config</UpgradeUrl>
  <CurrentVersion>1.2.0.0</CurrentVersion>
  <UpgradePatchTime>2008-02-09 17:30</UpgradePatchTime>
  <Description>在这里写本次更新的简要提示。</Description>
</configuration>