<?xml version="1.0"?>
<configuration>
  <System>
    <Exception/>
    <Services>
      <ObjectDatabaseService dbpath="~/App_Data/"/>
      <SessionService timeout="1800" checkspan="1000"/>

      <DatabaseService interface="Uniframework.Database.IDatabaseService, Uniframework.Database" commponent="Uniframework.Database.DatabaseService, Uniframework.Database"/>
      <MembershipService interface="Uniframework.Services.IMembershipService, Uniframework" commponent="Uniframework.Services.MembershipService, Uniframework"/>
      <AuthorizationStoreService interface="Uniframework.Security.IAuthorizationStoreService, Uniframework" commponent="Uniframework.Security.AuthorizationStoreService, Uniframework.Services"/>
      <UpgradeService interface="Uniframework.Services.IUpgradeService, Uniframework" commponent="Uniframework.Services.UpgradeService, Uniframework.Services"/>
      <LayoutService interface="Uniframework.Services.ILayoutService, Uniframework" commponent="Uniframework.Services.LayoutService, Uniframework.Services"/>

      <!-- DemoCenter -->
      <SampleService interface="Uniframework.DemoCenter.ISampleService, Uniframework.DemoCenter" commponent="Uniframework.DemoCenter.SampleService, Uniframework.DemoCenter"/>
    </Services>
    <Extends>None</Extends>

    <Workstations description="Workstations">
      <Uniframework.Foundation allowroles="all">
        <Upgrade assemblyfile="Uniframework.Upgrade.dll"/>
        <Common assemblyfile="Uniframework.Common.dll"/>
      </Uniframework.Foundation>


      <Uniframework.DemoCenter allowroles="all">
        <DemoCenter assemblyfile="Uniframework.DemoCenter.Client.dll"/>
      </Uniframework.DemoCenter>

      <!--<Uniframework.CallAnywhere allowroles="Administrators">
        <CallAnywhere assemblyfile="Uniframework.CallAnywhere.dll"/>
        <Switch assemblyfile="Uniframework.Switch.dll"/>
      </Uniframework.CallAnywhere>-->

    </Workstations>
  </System>
</configuration>