<?xml version="1.0"?>
<configuration>
  <System>
    <Exception/>
    <Services>
      <ObjectDatabaseService dbpath="~/App_Data/"/>
      <SessionService timeout="1800" checkspan="1000"/>
      
      <MembershipService interface="Uniframework.Services.IMembershipService, Uniframework" commponent="Uniframework.Services.MembershipService, Uniframework"/>
      <AuthorizationService interface="Uniframework.Services.IAuthorizationStoreService, Uniframework" commponent="Uniframework.Services.AuthorizationStoreService, Uniframework.Services"/>
      <UpgradeService interface="Uniframework.Services.IUpgradeService, Uniframework" commponent="Uniframework.Services.UpgradeService, Uniframework.Services"/>
    </Services>
    
    <Item name="Encrypt">None</Item>
    <Workstations description="Workstations">
      <Uniframework.Foundation allowroles="all">
        <!--<Foundation assemblyfile="Uniframework.Foundation.dll" updatelocation=""/>-->
        <Upgrade assemblyfile="Uniframework.Upgrade.dll" updatelocation=""/>
        <!--<StarterKits assemblyfile="Uniframework.StarterKits.dll" updatelocation=""/>-->
      </Uniframework.Foundation>
    </Workstations>
    <Extends>None</Extends>
  </System>
</configuration>