<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LiveUpgrade" type="Uniframework.Services.LiveUpgradeConfigurationSection, Uniframework, Version=2.0.0.118, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <LiveUpgrade>
    <UpgradeElements>
      <UpgradeElement Product="Uniframework" LocalVersion="1.0.0.0" UpgradeDate="2008-02-18 15:47:00"/>
    </UpgradeElements>
  </LiveUpgrade>

  <!-- Wcf服务配置节 -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding> <!-- Tcp绑定 -->
        <binding name="unsecureTcp" maxReceivedMessageSize="20000000">
          <security mode="None"/>
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding> <!-- 命名管道绑定 -->
        <binding name="namedPipe" maxReceivedMessageSize="20000000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </netNamedPipeBinding>
      <wsDualHttpBinding> <!-- Http绑定 -->
        <binding name="wsDualBinding_IInvokeChannel" clientBaseAddress="http://localhost:8088/myClient/">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <!--endpoint address="http://localhost/Uf/WcfService.svc" binding="wsDualHttpBinding"
        bindingConfiguration="wsDualBinding_IWcfChannel" contract="Uniframework.IInvokeChannel"
        name="duplexEndpoint">

      </endpoint-->
      <endpoint address="net.tcp://127.0.0.1:8089/WcfService" binding="netTcpBinding" bindingConfiguration="unsecureTcp" contract="Uniframework.IInvokeChannel" name="duplexTcpEndpoint"/>
      <!--endpoint address="net.pipe://localhost/uf" binding="netNamedPipeBinding"
        bindingConfiguration="namedPipe" contract="Uniframework.IInvokeChannel"
        name="duplexPipeEndpoint" /-->
    </client>
  </system.serviceModel>
  
  <appSettings>
    <add key="ShellCaption" value="Uniframework 2.01"/>
    <add key="ShellIcon" value="Uniframework.ico"/>
    <add key="SplashTop" value="Top.png"/>
    <add key="SplashBottom" value="Bottom.png"/>
    <add key="ShellAddinfile" value="Uniframework.StartUp.addin"/>
    <add key="ShellHomeUri" value="http://www.google.cn"/>
    <add key="WebServiceUrl" value="http://localhost/Uf/webservice.asmx"/>
    <add key="ServerAddress" value="127.0.0.1"/>
    <add key="ServerPort" value="8889"/>
    <add key="CommunicationChannel" value="Wcf"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
</configuration>